<!DOCTYPE html>
<html lang = "en">
<head >
  <meta charset = "UTF-8" >
  <title >get请求和post请求</title >
</head >
<body >
<form action="" method="GET">{% csrf_token %}
        请输入：<input type="text" autocomplete="off" id="title"
                 placeholder="请输入标题" name='title'><br> <br><br>
        请输入：<input type="text" autocomplete="off" id="content"
                 placeholder="请输入内容" name='content'><br> <br><br>
		请输入：<input type="text" autocomplete="off" id="title"
                 placeholder="请输入标题" name='title'><br> <br><br>
        <button type="submit">提交</button>
</form>
</body >
</html >